@import url("https://fonts.googleapis.com/css2?family=Poppins:wgt@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'popins, ariana';
}

body {
  background-image: url("images/Summer\ desktop\ wallpaper\ laptop\ computer\ background\ 4k\ HD\ 1080p\ tropical\ mountain\ nature\ images.jfif");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  margin-top: 0px;
  margin-right: 300px;
  width: 100%;
  height: 100%;
  background-color: #0c0a0a98;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.tab_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(229, 229, 229);
  font-size: 12px;
  font-weight: 600;
  position: relative;
}

.tab_box .tab_btn {
  font-size: 18px;
  font-weight: 600;
  color: black;
  background: rgb(32, 215, 235);
  border-radius: 10px;
  border: 2px solid gray;
  width: 140px;
  height: 50px;
  cursor: pointer;
}

.tab_box .tab_btn.active {
  color: #ececf0;
}
.content_box {
  padding: 20px;
  color: black;
}
.content_box .content {
  display: none;
  animation: moving 0.5s ease;
}
.content_container{
  background-color: white;
  align-items: center;
  display: block;
  height: 350px;
  border-radius: 10px;
  margin: 20px;
padding: 20px;

}
@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.content_box .content.active {
  display: block;
}
.content_box .content h2 {
  margin-bottom: 10px;
}

.cert-img {
  width: 400px;
  margin-right: 20px;
}

@media (max-width: 798px){
  h1{
    font-size: 20px;
  }
.container{
  width: 100%;
  height: 600px;
}
.tab_box .tab_btn{
margin-right: 10px;
position: relative;
width: 100%;
font-size: 12px;
}
.cert-img{
  width: 250px;
}
.content_container{
  background: local;
  color: white;
}
}

.abt {
  margin-bottom: 50px;
}
.profile-img {
  width: 150px;
  float: left;
  margin: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.tele {
  width: 20px;
  margin-right: 10px;
}